
html,body{
	height: 100%;
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.clearfix::after{
 clear: both;
 content: "";
 display: table;
}
a{
	color: inherit;
	text-decoration: none;
}
li{
	list-style: none;
}
ul li:last-child{
	margin-bottom: 0;
}
img{
	display: block;
	width: 100%;
	height: auto;
}
button,
label{
	cursor: pointer;
}
input,
button,
textarea{
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
input[type="radio"],
input[type="checkbox"]{
	display: none;
}
input::placeholder {
	color: inherit;
}
button{
	cursor: pointer;
}
input, 
textarea{
	display: block;
	resize: none;
}
body{
	font-size: 14px;
	line-height: 19px;
	color: #242424;
	width: 100%;
	font-family: 'Manrope', arial, sans-serif;
}
.container{
	max-width:1328px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}
.dn{
	display: none;
}
section{
	padding: 100px 0;
}
.sec_tit{
	font-weight: 800;
	font-size: 42px;
	line-height: 57px;
	text-align: center;
	margin: 0 auto;
}
.color{
	color: #BE963F;
}
.dib{
	display: inline-block;
}
.hover{
	transition: 0.3s;
}
.hover:hover{
	color: #BE963F;
}
.pink{
	background: #FFFFEF;

}
.btn{
	width: 154px;
	height: 56px;
	border: solid 1px #56593D ;
	background-color: #56593D;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1px;
	color:  #FFFFEF;
	margin-left: 1100px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1px;
	color:  #FFFFEF;
}
	
.link{
	transition: 0.3s;
}
.link:hover{
	box-shadow: 0px 6px 5px 2px #836A36;
}
.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.header{
	width: 1424px;
	height: 16px;
	 background: #FFFFEF;
	margin: 0 auto;
	}
.menu li{
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 2px;
	text-align: left;
	color:  #56593D;
	}
.menu ul {
	margin-top: 40px;
}
.menu .list{
	width:calc((100% - 60px) / 4);
	width: 465px;
	margin-left: 30px;
}
.head_img{
	width: 90px;
	height: 26px;
	margin: 0 auto;
    margin-top: -25px;
}
.icons{
	text-align:right;
	margin-top: -30px;
}
.icons_head{
	padding-left: 20px;
}

.sec_img{
	background: url(../img/bg.jpg);	
    height: 700px;
    margin-top: -60px;
	width: 1328px;
	border: 20px solid #FFFFEF;
	margin-bottom: 100px;
} 
.link .icon_head{
	width: 18px;
	height: 18px;
	margin: 0 5px;
}
.img_txt{
text-align:right;
margin-top: 450px;
}
.img_txt .sec_tit{
	text-align: right;
	margin-bottom: 30px;
	margin-right: 40px;
}
.sec_desc{
font-size: 18px;
line-height: 22px;
letter-spacing: 2px;
color: #56593D;
margin-right:40px;
}
.sec_title{
font-size: 57px;
line-height: 81px;
text-align: center;
width: 1194px;
height: 243px;
font-weight: 400;
margin: 0 auto;
color: #56593D;
}
.link_shop{
justify-content: center;
gap: 65px;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 2px;
color:  #56593D;
margin-top: 40px;
}
.shop{
	border-bottom:2px solid #56593D;
	width: 102px;
}
.link_shop i{
	margin-left: -85px;
}
.link_shop i:last-child{
	margin-left: -80px;
}
.read{
	border-bottom:2px solid #56593D;
	width: 135px;
}
.card img{
     width: 410px;
	height: 410px;
}
.card_txt{
font-size: 24px;
font-weight: 400;
line-height: 32px;
text-align: center;
color: #56593D;
margin-bottom: 80px;
}
.card .sec_desc{
font-size: 16px;
font-weight: 400;
line-height: 22px;
text-align: center;
margin-top: 20px;
margin-bottom: 15px;
color: #56593D;
}
.price{
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing:2px;
	text-align: center;  
	color:#717353;
    margin: 165px;
}
.main_img{
	background:url(../img/main_img.jpg);
	background-size: cover;
	width: 1328px;
    height: 700px;
	border: 20px solid #FFFFEF;
	margin-top: 20px;
 }
.main_desc{
font-size: 17px;
font-weight: 400;
line-height: 22px;
letter-spacing: 2px;
text-align: center;
color:  #56593D;
margin-top: 60px;
margin-bottom: 20px;
}
.main_title{
font-size: 50px;
font-weight: 400;
line-height: 60px;
text-align: center;
color:  #56593D;
width: 1093px;
margin: 0 auto;
}
.left img{
width: 743px;
height: 618px;
}
.right{
width: 521px;
height: 391px;
margin-top: 60px;
}
.desc_border{
	border: 1px solid  #717353;
	width: 40px;
	margin: 0 auto;
}